#
__pycache__/
*.py[cod]
*$py.class

#
*.so

#
.venv/

#
build/
dist/
*.egg-info/
*.egg
*.whl
*.tar
*.tar.gz

#
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/

#
.env
.env.*
!.env.example

#
.idea/
.vscode/
.DS_Store